@import "../../colors.scss";

.Navigation {
    position: relative;

    display: flex;
    justify-content: space-between;
    &__name {
        font-weight: 400;
        cursor: pointer;
        font-weight: 400;
        font-size: 1.6rem;
        color: $colorText;
    }
    &__list {
        display: flex;
        justify-content: space-around;
        padding-top: 0.5rem;
        list-style: none;
        text-align: center;
        text-transform: capitalize;
        &--title {
            padding-right: 2.5rem;
        }
        &--link {
            display: block;
            text-decoration: none;
            font-size: 1.2rem;
            color: $colorText;

            &:hover {
                color: $ColorHL;
            }
        }
    }
}
